header {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
}

header .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

header .link-logo {
    margin: 0
}

header .hamb {
    color: #fff;
    font-size: 3rem;
    z-index: 3;
}

header .logo-m {
    width: 6rem;
    height: auto;
}

header nav {
    position: fixed;
    background-color: #000;
    width: 25%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9rem;
    padding-bottom: 9rem;
    z-index: 2;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    transform: translateX(100%);
    transition: all .4s ease-in;
}

header nav.abrir {
    transform: translateX(0%);
}

header nav a {
    color: #fff;
    text-decoration: none;
    /* margin-right: 1rem; */
    /* margin-left: 1rem; */
    font-size: 1.5rem;
    margin: 2rem 0;
}

header nav a:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.2)
}

header .logo-mafrox {
    width: 16rem;
    height: auto;
}


/* header nav a:visited{
	color: #28a745;
    
} */

.border-white-btn {
    position: relative;
    left: 29rem;
    top: .3rem;
    background: rgba(0, 0, 0, 0);
    background: transparent;
    border: white 1px solid;
    height: 3rem;
    border-radius: 3.5rem;
    font-size: 1.2rem;
    width: 16%;
}

a:hover,
a:active {
    text-decoration: none;
}

.white-font,
.white-font:active {
    color: white;
}

footer {
    position: absolute;
    bottom: 3%;
    right: 2%;
    z-index: 100;
}

.iconH {
    font-size: 2rem;
}

@media (max-width: 768px) {
    header nav {
        width: 60%;
    }
    header .logo-mafrox {
        width: 40rem;
        height: auto;
    }
    header nav a {
        font-size: 3.5rem;
    }
    header .hamb {
        font-size: 10rem
    }
    header .logo-m {
        width: 14rem;
    }
    .iconH {
        font-size: 5rem;
        margin-right: 5rem!important;
    }
    header nav a {
        margin: 5rem 0;
    }
    .border-white-btn {
        position: relative;
        left: -3rem;
        top: .3rem;
        background: rgba(0, 0, 0, 0);
        background: transparent;
        border: white 1px solid;
        height: 7rem;
        border-radius: 3.5rem;
        font-size: 3.2rem;
        width: 33%;
    }
}