* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: .98vw;
}

main {
    background-image: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.32)), url(../../assets/fondo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* padding-bottom: 0rem; */
}

.centered-aprendiendo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vh100 {
    height: 100vh;
}

.square {
    z-index: 1;
    width: 16rem;
    height: 16rem;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.square:hover {
    transform: scale(1.2);
    transition: transform 0.9s cubic-bezier(0.7, 0.7, 0.5, 1.0);
    transition-timing-function: ease;
    z-index: 10;
}

.vh80 {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.cont-sqs {
    padding-top: 0.5rem;
}


/* .sq1-text {} */

.sq1:hover {
    transform: translateY(0px) scale(1.1) !important;
}

.sq2:hover {
    transform: translateY(0px) scale(1.1) !important;
}

.sq3:hover {
    transform: translateY(0px) scale(1.1) !important;
}

.sq2-text {
    text-align: center;
    border: white solid;
    line-height: 1;
    padding: .5rem !important;
}


/* .sq3-text {} */

.each-sq {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.container-3sq {
    padding-top: 5rem;
}

#menuToggle input:checked~ul {
    height: 100vh;
    right: -2.02rem;
    top: 3rem;
}


/* .sq1{} */


/* .sq2 { */


/* background-image: url(../../assets/Carne.png);
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;*/


/* } */


/* .sq3 { */


/* background-image: url(../../assets/Pasto.png); */


/* background-color: #050;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; */


/* } */

@media (max-width: 769px) {
    .square {
        z-index: 0;
        width: 20rem;
        height: 20rem;
    }
    #menuToggle input:checked~ul {
        right: -3.9rem;
    }
    .cont-sqs {
        padding-top: 0rem;
    }
}

@media (max-width:558px) {
    .container-3sq {
        padding-top: 5rem;
        flex-direction: column;
        align-items: center;
    }
    .square {
        z-index: 0;
        width: 30rem;
        height: 30rem;
    }
}