body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.32)), url(../../assets/_B9A0774.jpg);
}

.container {
    display: flex;
    overflow-x: auto;
}

.container .card-blog {
    margin-right: 15px;
}

.container::-webkit-scrollbar {
    display: none;
}