main {
    background-image: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.32)), url(../../assets/_B9A0774.jpg);
    background-size: cover;
    height: 100vh;
    width: 130%;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.container .card-blog {
    margin-right: 15px;
}

.vh100 {
    height: 100vh;
}

.flex-center-xd {
    justify-content: center;
    display: flex;
    align-items: center;
}

.vw40 {
    background: linear-gradient( rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.62))
}

.example-three .card-meat {
    width: 22rem;
    margin-right: 0rem !important;
}

.flex-two {
    margin-right: 1.5rem;
}

.h80 {
    height: auto;
}

.example-three nav {
    border-radius: 0 0 3px 3px;
    padding-top: 3rem;
}

.w100 {
    width: 100%;
}

.title {
    margin-bottom: 0rem;
}

p,
h1 {
    color: white;
}

.blog0img {
    position: relative;
    left: -4.5rem;
    width: 30.603rem;
    border-bottom: 4px solid #b1c280;
}

.blogs {
    width: 100%;
    height: 7rem;
}

.f1_2 {
    font-size: .8rem;
    line-height: 1.2;
    margin-bottom: 0rem;
}

.arrowWhite1 {
    width: 2rem;
}

.arrowWhite2 {
    width: 1.2rem;
    height: 1.1rem;
}

.f1_5 {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.f2 {
    line-height: 1.5;
}

.catalog-text {
    top: 50%;
}

.cat-title {
    margin-bottom: 0rem;
}

.vw40 {
    width: 23.2%;
}


/* 
{
    transform: translateX(-31rem);
} 
    transform: translateX(-17rem);
} {
    transform: translateX(-17rem);
}
*/

footer {
    right: -18%;
}

a,
a:hover,
a:active {
    text-decoration: none !important;
}

.centered-carnes {
    width: 108%;
}

.scroll {
    overflow-y: hidden;
    overflow-x: hidden
}

@media (max-width:768px) {
    .scroll {
        overflow-y: scroll;
        overflow-x: hidden
    }
    .centered-carnes {
        width: 100%;
    }
    main {
        width: 100vw;
    }
    .blogs {
        height: 15rem;
    }
    .example-three .card-meat {
        width: 40rem;
    }
    footer {
        right: 2%;
    }
    .blog0img {
        width: 23.603rem;
    }
    .f1_2 {
        font-size: 1.5rem;
    }
    .vw40 {
        width: 30%;
    }
}