main {
    background-image: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.32)), url(../../assets/_B9A0774.jpg);
    background-size: cover;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.container .card-blog {
    margin-right: 15px;
}

.vh100 {
    height: 100vh;
}

.flex-center-xd {
    justify-content: center;
    display: flex;
    align-items: center;
}

.vw40 {
    background: linear-gradient( rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.62))
}

.example-three .card-meat {
    width: 25rem;
    margin-right: 0rem !important;
}

.flex-two {
    margin-right: 1.5rem;
}

.h80 {
    height: 16rem;
}

.example-three nav {
    border-radius: 0 0 3px 3px;
    padding-top: 3rem;
}

.w100 {
    width: 100%;
}

.arrowWhite1 {
    margin-bottom: 3rem;
}

p,
h1 {
    color: white;
}

.blog0img {
    position: relative;
    left: -3rem;
    width: 30.603rem;
    border-bottom: 4px solid green;
}