.scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.logo1 {
    flex: 0 0 120px;
}

.card-meat {
    flex: 0 0 auto;
    margin-bottom: 4.5rem;
}

.example-three .logo {
    display: block;
    border: none;
}

.example-three .card-meat {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.51);
    margin-right: 1.1rem;
    width: 29.5%;
}

.example-three-header {
    background: #281a41;
}

.example-one-header,
.example-two-header {
    border-radius: 3px;
}

.example-three-header {
    border-radius: 3px 3px 0 0;
}

.example-three nav {
    border-radius: 0 0 3px 3px;
    height: 80%;
}

.logo1 {
    text-align: center;
    font-weight: 700;
    color: #727c87;
    border-right: 1px solid rgba(114, 124, 135, 0.4);
    padding: 13px 24px 12px;
}

.logo1 {
    padding: 13px 16px 12px;
}

.logo1:not(:last-child),
.card-meat:not(:last-child) {
    border-right: 1px solid rgba(114, 124, 135, 0.2);
}

* {
    box-sizing: border-box;
}

.logo1,
.card-meat {
    font-size: 14px;
}

.title {
    margin: 2.5rem 0 2rem;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #8cd467;
}

 ::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.619);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 2%;
    background-color: yellowgreen;
}

.vh80 {
    display: flex;
}

.vw60 {
    width: 68vw;
    padding-left: 7rem;
}

.vw40 {
    width: 31.5vw;
    height: 100vh;
    position: relative;
    top: -11vh;
    /* background-color: rgba(0, 0, 0, 0.43); */
    background-image: url("../../assets/Carne.png");
}

.carnePrincipalCard {
    width: 100%;
}

.container-market3 {
    display: flex;
    justify-content: center;
    height: 20%;
    background-color: #0000006e;
}

.markets3 {
    width: 3rem;
}

.h80 {
    height: 80%;
}

.w40 {
    width: 40%;
}

ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

li {
    list-style-type: none;
}