body {
    background: linear-gradient( rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.52)), url(../../assets/_B9A0994.jpg);
}

.vw40 {
    width: 31.5vw;
    height: 98.7vh;
    position: relative;
    top: -11vh;
    background: linear-gradient( rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.42));
    background-position-x: center;
    z-index: 1;
}

.logo {
    z-index: 20;
}

.container-white {
    z-index: 100;
}

.three-border-w {
    border: white 1px solid;
    font-size: 1rem;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.arrowWhite {
    width: 1.5rem;
    height: 1.5rem;
}

.al-ite {
    align-items: center;
}

.arrowWhite1 {
    width: 1.9rem;
    height: 1.4rem;
}

.center {
    align-items: center;
}

.container-white {
    margin-top: 10vh;
}

.cat-title {
    padding-right: 0rem;
}

p {
    margin-bottom: .5rem !important;
}

.title {
    margin: 1.5rem 0 .5rem;
}

.line-h {
    line-height: 1;
}

.l-s-0 {
    letter-spacing: 0px;
}

.title2 {
    margin: 1.3rem 0 1.3rem 3rem!important;
}

.vw60 {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vh80 {
    display: flex;
}

.vaca {
    width: 50%;
}