/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: .98vw;
}

main {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0.52))), url(../../assets/_B9A0994.jpg);
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.52)), url(../../assets/_B9A0994.jpg);
    background: linear-gradient( rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.52)), url(../../assets/_B9A0994.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.vh100 {
    height: 100vh;
}

.vw40 {
    width: 40%;
    height: 100vh;
    position: relative;
    top: 50%;
    /* transform: translateY(0%); */
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.41)), to(rgba(0, 0, 0, 0.42)));
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.42));
    background: linear-gradient( rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.42));
    background-position-x: center;
    z-index: 1;
}

.flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.logo {
    z-index: 20;
}

.container-white {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.three-border-w {
    border: white 1px solid;
    font-size: 1rem;
}

.arrowWhite {
    width: 1.5rem;
    height: auto;
}

.al-ite {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.arrowWhite1 {
    width: 1.9rem;
    height: auto;
}

.center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cat-title {
    padding-right: 0rem;
}

p {
    margin-bottom: .8rem !important;
}

a:hover {
    text-decoration: none;
}

.title,
title:hover,
title:active {
    font-size: 1.8rem;
    color: #B1C280;
    text-decoration: none;
}

.line-h {
    line-height: 1;
}

.l-s-0 {
    letter-spacing: 0px;
}

.title2 {
    margin: 1.3rem 0 1.3rem 3rem!important;
}

.vw60 {
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.w-80 {
    width: 80%;
}

.vaca-img {
    width: 50%;
    position: relative;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

#menuToggle input:checked~ul {
    right: -1.97rem;
}

.vaca-principal {
    width: 100%;
    background-image: url(../../assets/vaca.png);
    height: 18.5rem;
    background-position: center;
    background-size: contain;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}

.none-mobile {
    display: none
}

.row {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.divRound {
    background: white;
    border-radius: 2rem;
    height: 1rem;
    width: 1rem;
}

.borderdash {
    border: 3px dashed white;
}

#pescuezo {
    position: relative;
    top: -4.1rem;
    left: 2rem;
    padding: 1.8rem 0rem 2.5rem 0rem;
    -webkit-transform: skewX(22deg);
    transform: skewX(22deg);
    -webkit-clip-path: polygon(41% -26%, 255% 69%, -3% 95%, -62% 40%, 4% 9%);
    clip-path: polygon(41% -26%, 255% 69%, -3% 95%, -62% 40%, 4% 9%);
    background: aquamarine;
    -webkit-filter: drop-shadow(0px 1px 0px blue) drop-shadow(2px 0px 0px blue) drop-shadow(-2px 0px 0px blue) drop-shadow(0px -2px 0px blue);
    filter: drop-shadow(0px 1px 0px blue) drop-shadow(2px 0px 0px blue) drop-shadow(-2px 0px 0px blue) drop-shadow(0px -2px 0px blue);
}

@media (max-width: 768px) {
    .title {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .line-h {
        width: 90%;
    }
    #menuToggle input:checked~ul {
        right: -3.3rem;
    }
    .center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .column-d {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
    }
    .vw40 {
        width: 100%;
        height: 40%;
        position: inherit;
        top: 0;
        z-index: auto;
    }
    .w-80 {
        width: 100%;
        padding: 4rem;
        height: 60%;
    }
    .vaca-img {
        width: 50%;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    h1 {
        font-size: 5rem!important;
    }
    p {
        font-size: 2.5rem;
        text-align: center;
    }
    .sz-2 {
        font-size: 2rem;
    }
    .arrowWhite1 {
        width: 4.5rem;
        height: auto;
    }
    .arrowWhite {
        width: 3rem;
        height: auto;
    }
    .flex-end {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}