* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.94vw;
}

.vh100 {
    height: 100vh;
}

.backgroundHome {
    background-image: url('../../assets/fondo-home.png');
    background-size: cover;
}

.vh80 {
    height: 85vh;
}

.container-icons {
    margin-left: 91rem;
    padding-bottom: 1rem;
    display: flex;
    width: 13rem;
    justify-content: space-between;
}

.iconH {
    font-size: 1.5rem;
}

.white-font {
    color: white;
}

.border-white-btn {
    background: #fff0;
    border: 1px solid;
    padding: 4px 25px;
    border-radius: 16px;
}

.menu-brg {
    width: 3rem;
}

.logo {
    height: 100%;
}

.p-t-l-1 {
    padding-top: 1.1rem;
    padding-left: 1.1rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.contmenu-btn {
    display: flex;
    width: 24rem;
    justify-content: space-around;
    padding-top: 2.1rem;
    padding-left: 1.1rem;
}