* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.94vw;
}

body {
    background-image: url(../../assets/fondo-home.png);
    background-size: cover;
    background-position: center;
}

.vh100 {
    height: 100vh;
}

.vh80 {
    height: 85vh;
}

.container-icons {
    margin-left: 89rem;
    display: flex;
    width: 15rem;
    justify-content: space-between;
}

.iconH {
    font-size: 2rem;
}

.white-font {
    color: white;
}

.border-white-btn {
    background: rgba(0, 0, 0, 0);
    border: 1px solid;
    padding: 2% 13.5%;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    height: 60%;
    width: 15rem;
}

.menu-brg {
    width: 3rem;
}

.logo {
    height: 100%;
}

.p-t-l-1 {
    padding-top: 1.1rem;
    padding-left: 1.1rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green {
    color: #8cd467;
}

.title {
    margin: 1.5rem 0 2rem;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.cat-title {
    padding: .5rem 1.5rem;
}

footer{
    position: relative;
    top: 82%;
}
@media (max-width: 768px) {

    .container-icons {
        margin-left: 63rem;
        width: 37rem;
    }
    .iconH {
        font-size: 5rem;
    }
}